#fieldSvg {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	transform: translateX(-50%);
	aspect-ratio: 1308 / 1024;
	pointer-events: none;
}

#fieldSvg .equipLine {
	stroke-width: 10;
	stroke: #0005;
	stroke-linecap: round;
	filter: blur(.2vh);
}

#fieldSvg .equipDashes {
	stroke-width: 8;
	stroke: white;
	stroke-linecap: round;
	stroke-dasharray: 20 25;
	animation: dashMovement 2s infinite linear;
	filter: blur(.2vh);
}

@keyframes dashMovement {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -90;
	}
}