#draftGameFlexBox {
	display: flex;
	flex-direction: column;
}

#draftMainInfo {
	font-size: 2em;
	text-align: center;
	margin: 1rem;
	text-shadow: var(--theme-text-shadow);
}

#draftCardSelection {
	width: 100%;
	display: flex;
	aspect-ratio: 8130 / 1185;
	background-color: #0004;
	user-select: none;
	filter: brightness(1);
	transition: filter .5s;
}

.draftFinished #draftCardSelection {
	filter: brightness(.5);
}

@keyframes cardEntry {
	from {
		transform: translateX(100vw);
	}

	to {
		transform: translateX(0);
	}
}

#draftCardSelection img {
	width: 10%; /* Edge needs this or else the cards are massive */
	aspect-ratio: 813 / 1185;
	padding: .15vw;
	animation: cardEntry .2s;
}

#draftInfoBar {
	display: flex;
	justify-content: space-between;
	padding: 0 1em;
	font-size: 1.5em;
	border-bottom: 2px solid #eee;
	text-shadow: var(--theme-text-shadow);
}

#draftDeckHolder {
	display: flex;
}

.draftDeck {
	padding: 1em;
	width: 50%;
}

.draftDeckTitleBar {
	display: flex;
	justify-content: space-between;
	text-shadow: var(--theme-text-shadow);
}

.draftDeckList {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: 2px solid #eee;
	aspect-ratio: 8130 / 3555;
	background-color: var(--theme-shadow);
	backdrop-filter: blur(var(--theme-shadow-blur));
	user-select: none;
}

.draftDeckList img {
	width: 100%;
	padding: 2%;
}

#draftStartButton {
	border-radius: .5em;
	padding: .2em .4em;
	margin: 1em auto;
}