/* Counter (+) Button */
.counterAddBtn {
	display: none;
	text-align: center;
	background-color: #888;
	border-radius: 50%;
	border: 2px var(--theme-border-color) solid;
	font-weight: bold;
}
.interactable .fieldCardContainer:hover img:not([src="images/cardHidden.png"]) ~ .counterHolder .counterAddBtn {
	display: block;
}

/* Presented Cards */
.presentedCards {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	padding: .5vh 1vh;
	min-width: 16.3vh;
	box-sizing: content-box;
	min-height: 35%;
	max-height: 35%;
	border-radius: 1vh;
	background-color: #0005;
	gap: 1vh;
	z-index: 75;
	opacity: 1;

	transition-duration: .1s;
	transition-property: top, min-height, opacity;
	transition-timing-function: ease-out;
}

:where(#presentedCards0) {
	flex-direction: row-reverse;
	top: 25%;
}
:where(#presentedCards1) {
	top: 75%;
}

.presentedCards:empty {
	top: 50%;
	min-height: 2.5vh;
	opacity: 0;
	pointer-events: none;
}
.localPlayerActiveGrab #presentedCards1:not(.presentedCardsDragSource) {
	opacity: 1;
	pointer-events: auto;
}

.presentedCardsDragSource {
	pointer-events: none;
	opacity: 35%;
}

.presentedCards > div {
	position: relative;
	width: 16.3vh; /*I hate everything about this. This magic number is calculated from the vh of the field, the 35% vh of the presented cards tray and the aspect ration of a Cross Univserse card. Reason being that I can't absolutely position the 'Reveal' button on these when their display is set to content but when the display isn't set to content, the div becomes massive.*/
	/* Addendum to the rant above: I have bumped the magic number from 16.81 down to 16.3. This number is now essentially based on nothing but it leaves no gap on the right of the card. */
}

.presentedCards > div > button {
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translateX(-50%);
	width: max-content;
}

.presentedCards img {
	height: 100%;
}