#headerHolder {
	position: sticky;
	top: 0;
	z-index: 100;
	
	background-color: #333;
	background-image: var(--theme-background);
	background-position-x: center;
	background-position-y: var(--theme-background-y);
	background-size: cover;
	background-attachment: fixed;
}

header {
	text-align: center;
	height: 1.75em;
	border-bottom: 2px #eee solid;
	line-height: 1.75em;
	background-color: var(--theme-shadow);
}

#mainSection {
	max-width: 100%;
	width: 30.5em;
	margin: auto;
	background-color: var(--theme-shadow);
}

h1 {
	all: unset;
}

h2 {
	width: 100%;
	margin: 0;
	padding: .2em;
	text-align: center;
}

hr {
	width: 100vw;
	transform: translate(-25%);
}

.settingsBlock {
	width: 30em;
	max-width: 100%;
	margin: auto;
	text-align: center;
}

.settingsBlock > div:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.25);
}

.settingsBlock > div {
	position: relative;
	padding: .1em .4em;
	text-align: left;
}

input[type="text"], select, .keybind {
	position: absolute;
	right: .4em;
	top: 50%;
	transform: translateY(-50%);
}

.keybind {
	width: 10em;
	color: black;
}

#languageWarnings {
	position: absolute;
	top: 100%;
	font-size: .6em;
	text-decoration: none;
}

.invalidHotkey {
	color: red;
}