main {
	max-width: 100%;
	width: 30.5em;
	margin: auto;
	background-color: var(--theme-shadow);
}

h1 {
	all: unset;
}

section {
	padding-bottom: 2.5em;
}

h2 {
	width: 100%;
	margin: 0;
	padding: .2em;
	text-align: center;
}

hr {
	width: 100vw;
	transform: translate(-25%);
}

.settingsBlock {
	width: 30em;
	max-width: 100%;
	margin: auto;
	text-align: center;
}

.settingsBlock > div:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.25);
}

.settingsBlock > div {
	position: relative;
	padding: .1em .4em;
	text-align: left;
}

input[type="text"], select, .keybind {
	position: absolute;
	right: .4em;
	top: 50%;
	transform: translateY(-50%);
}

.keybind {
	width: 10em;
	color: black;
}

#languageWarnings {
	position: absolute;
	top: 100%;
	font-size: .6em;
	text-decoration: none;
}

.invalidHotkey {
	color: red;
}