body {
	overflow: hidden;
}

#unofficialNotice {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	padding: .5em;
	text-align: center;
	white-space: nowrap;
	
	background-color: var(--theme-shadow);
	border-radius: 1em 1em 0 0;
}

#centerDiv {
	display: flex;
	flex-direction: column;
	gap: 5vh;
	align-items: center;
	text-align: center;
	justify-content: center;
	
	height: 100vh;
	padding: 2em;
	box-sizing: border-box;
}

#mainLogo {
	min-height: 25vh;
	max-height: 35vh;
	filter: drop-shadow(0 .2em 0.3em black);
	flex-grow: 1;
}

#centerRoomCodeDiv {
	line-height: 1.75em;
	
	background-color: var(--theme-shadow);
	border: 2px var(--theme-border-color) solid;
	border-radius: 1em;
	padding: .5em 1em;
	margin: 0 auto;
	width: fit-content;
}

h1 {
	all: unset;
	font-weight: bold;
}

#roomCodeRefresh {
	width: 2em;
}

#mainNavigation {
	width: 100%;
	min-height: 5em
}

#rulesButton {
	border-radius: .5em;
	padding: .2em .4em;
	margin: 0 auto;
	width: fit-content;
}

#deckMakerButton, #settingsButton {
	position: absolute;
	top: 0;
	width: 20vw;
	height: 1.5em;
	
	border-top: none;
	border-radius: 0 0 1em 1em;
}
#deckMakerButton {
	right: 2vw;
}
#settingsButton {
	left: 2vw;
}